# EE_4.03_AMC Course Material
# R. Becker, 2021-05-11, V002

# Use .gitignore to not share all solutions at once.
# By default ignore all directories containing solutions denoted by trailing pattern _soln

*_soln/
*_dev/
*_old/
*_INCLASS/
tmp/

*.ipynb_checkpoints/

*_old
*-checkpoint.ipynb


# Exceptions allow to disseminate the solutions selectively.
!0010_SOS_v002_soln


